<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.museum.mapper.DeviceMapper">

    <select id="allmaster"   parameterType="java.util.List"  resultType="com.example.museum.entity.Master">
        select * from master
    </select>
    <select id="errorList"   parameterType="java.util.List"  resultType="com.example.museum.entity.DeviceError">
        select * from Dict
    </select>
    <select id="allslave"   parameterType="java.util.List"  resultType="com.example.museum.entity.Slave">
        select * from slave
    </select>
    <select id="mslave"   parameterType="java.util.List"  resultType="com.example.museum.entity.Slave">
        select * from slave where maddr = #{maddr}
    </select>

    <update id="UpdateSlaver" parameterType="com.example.museum.entity.Slave">
        update slave
        set temperature_max = #{temperature_max},
            temperature_min = #{temperature_min},
            humidity_max = #{humidity_max},
            humidity_min = #{humidity_min},
             batterycapacity_max = #{batterycapacity_max},
              batterycapacity_min = #{batterycapacity_min},
               sleep = #{sleep}
        where saddr = #{saddr}
    </update>
    <select id="countUser"  resultType="java.lang.Integer">
        SELECT COUNT(*) FROM admin
    </select>
    <select id="countMaster"  resultType="java.lang.Integer">
        SELECT COUNT(*) FROM master
    </select>
    <select id="countSlave"  resultType="java.lang.Integer">
        SELECT COUNT(*) FROM slave
    </select>

    <select id="Doors"   parameterType="java.util.List"  resultType="com.example.museum.entity.device.Door">
        select * from door where mid = #{mid}
    </select>
    <select id="Lamps"   parameterType="java.util.List"  resultType="com.example.museum.entity.device.Lamp">
        select * from lamp where mid = #{mid}
    </select>
    <select id="relays"   parameterType="java.util.List"  resultType="com.example.museum.entity.device.Relay">
        select * from door where mid = #{mid}
    </select>
</mapper>
