<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.museum.mapper.MasterMapper">

    <select id="allmaster"   parameterType="java.util.List"  resultType="com.example.museum.entity.Master">
        select * from master
    </select>


    <select id="countMaster"  resultType="java.lang.Integer">
        SELECT COUNT(*) FROM master
    </select>
    <select id="findMaster"  resultType="com.example.museum.entity.Master">
        SELECT * FROM master where maddr = #{maddr}
    </select>
</mapper>
